.sideNav {
    width: 100%;
    list-style: none;
    font-weight: 500;
    overflow: auto;
    flex: 1;
  }
  .sideNav a{
    color:#222;
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 10px 0 10px 23px;
  }
  .sideNav a:hover{font-weight: 700;}
  .subMenu a{
    padding-left: 58px;
  }
  .subMenu a:hover{font-weight: 700;}
  .subMenu {
    overflow: hidden;
    transition: all 0.3s ease-in-out; 
    background: #fff;
    height: auto;
    }
  .sideNav span{
    color:#222;
    width: 100%;
    cursor: pointer;
    padding: 10px 0 10px 23px;

  }
  .sideNav span:hover{font-weight: 700;}
  .mainMenu{
    display: flex;
    align-items: center;
    gap:10px;
  
  }
  .mainMenuActive{
    border-right: 2px solid #38261a;
    background: rgba(8, 0, 196, 0.10);
    & p{
      color: #513726;
      font-weight: 700;
    }
    .activeIconStroke{stroke:#513726}
    .activeIconAdmin{stroke:#513726; fill:#513726; background-color: red}
    .activeIcon{fill:#513726}
  }
  .mainMenu figure:first-child{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sideNav .active{
    font-weight: 700;
    color: #513726;
    border-right: 2px solid #38261a;
    background: rgba(8, 0, 196, 0.10);
    .activeIcon{fill:#513726}
    .activeIconAdmin{fill:#513726; stroke:#513726; border:1px solid red}
    .activeIconStroke{stroke:#513726}
  }